<%- content_for :header_nav_bar do -%>
  <%= render partial: 'shared/header_nav_bar', locals: { current: :dashboard } %>
<%- end -%>

<div class="dashboard-container">

  <h2 class="dashboard-container__title">Tableau de bord</h2>

  <div class="dashboard-container__filters list-filters">
    <%= search_form_for @d, url: dashboard_path, class: 'search' do |f| %>
      <div class="search-bar">
        <%= image_tag 'icons/icon-search-gray.png', class: 'icon-search' %>
        <%= f.text_field :title_or_excerpt_cont, label: false, placeholder: 'Recherchez parmis vos abonnements' %>
      </div>
      <div class="list-filters__left">
        <%= f.select :tower_category_theme_id_eq, current_user.subscribed_towers.uniq.map { |t| [t.category.theme.name, t.category.theme] }, { include_blank: 'Thèmes' }, {onchange: 'this.form.submit();'} %>
        <%= f.select :tower_category_id_eq, current_user.subscribed_towers.uniq.map { |t| [t.category.name, t.category] }, { include_blank: 'Catégories' }, {onchange: 'this.form.submit();'} %>
        <select name="" id="">
          <option value="" disabled selected>Abonnement</option>
          <option value="">Lorem</option>
          <option value="">Ipsum</option>
        </select>
        <select name="" id="">
          <option value="" disabled selected>Temps de lecture</option>
          <option value="">Lorem</option>
          <option value="">Ipsum</option>
        </select>
      </div>
      <!-- <div class="list-filters__right">
        <p>Trier par :</p>
        <select name="order" id="">
          <option value="" disabled selected>Plus récent</option>
          <option value="">Lorem</option>
          <option value="">Ipsum</option>
        </select>
      </div> -->
    <% end %>
  </div>

  <div class="dashboard-container__list">

    <% if @reports.count > 0 %>
      <ul>
        <!-- <div class="list-title">
          <p>2 <span class="light">non lue(s)</span></p>
          <hr>
        </div> -->
        <% @reports.each do |k, r| %>
          <div class="list-title">
            <p><%= k %></p>
            <hr>
          </div>
          <% r.each do |report| %>
            <%= render partial: 'reports/report_card', locals: { report: report } %>
          <% end %>
        <% end %>
      </ul>
    <% else %>
      <p class="no-results">
        Aucun contenu disponible
        <br/><span>Rendez-vous sur la page <%= link_to 'Marketplace', towers_path %> pour vous abonner à des experts</span>
      </p>
    <% end %>
  </div>

</div>
