<% unless request.xhr? %>
  <%- content_for :header_nav_bar do -%>
    <%= render partial: 'shared/header_nav_bar', locals: { current: nil } %>
  <%- end -%>
  <div class="modal-alternative">
<% else %>
  <%= image_tag 'icons/icon-close-black.png', class: 'modal-close', data: { dismiss: 'modal' } %>
<% end %>

    <h2 class="modal-title">Inscription</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: { remote: request.xhr? }, html: { class: 'main-form main-form-modal' }) do |f| %>

      <!-- <ul class="errors">
        <%# resource.errors.full_messages.each do |msg| %>
          <li><%#= msg %></li>
        <%# end %>
      </ul> -->

      <div class="field <%= 'field_with_errors' if resource.errors[:firstname].any? %>">
        <%= f.text_field :firstname, placeholder: 'Prénom', value: params.include?(:user)? params[:user][:firstname] : "" %>
        <% resource.errors[:firstname].each do |msg| %>
          <li class="error"><%= msg %></li>
        <% end %>
      </div>

      <div class="field <%= 'field_with_errors' if resource.errors[:lastname].any? %>">
        <%= f.text_field :lastname, placeholder: 'Nom' %>
        <% resource.errors[:lastname].each do |msg| %>
          <li class="error"><%= msg %></li>
        <% end %>
      </div>

      <div class="field <%= 'field_with_errors' if resource.errors[:email].any? %>">
        <%= f.email_field :email, placeholder: 'Adresse e-mail' %>
        <% resource.errors[:email].each do |msg| %>
          <li class="error"><%= msg %></li>
        <% end %>
      </div>

      <div class="field <%= 'field_with_errors' if resource.errors[:password].any? %>">
        <%= f.password_field :password, autocomplete: "off", placeholder: 'Mot de passe' %>
        <% resource.errors[:password].each do |msg| %>
          <li class="error"><%= msg %></li>
        <% end %>
      </div>

      <div class="field <%= 'field_with_errors' if resource.errors[:password_confirmation].any? %>">
        <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Confirmation du mot de passe' %>
        <% resource.errors[:password_confirmation].each do |msg| %>
          <li class="error"><%= msg %></li>
        <% end %>
      </div>

      <div class="field field-checkbox <%= 'field_with_errors' if resource.errors[:terms].any? %>">
        <%= f.check_box :terms %>
        <%= f.label :terms, "J'accepte les #{ link_to("conditions générales", "#") }".html_safe %>
        <% resource.errors[:terms].each do |msg| %>
          <li class="error"><%= msg %></li>
        <% end %>
      </div>

      <div class="actions">
        <%= f.submit "Inscription" %>
      </div>
    <% end %>

    <div class="modal-footer">
      <p>
        Vous n'avez pas de compte ?
        <%= link_to "Connectez-vous", new_session_path(resource_name) %>
      </p>
    </div>

<% unless request.xhr? %>
  </div>
<% end %>
