<% unless request.xhr? %>
  <%- content_for :header_nav_bar do -%>
    <%= render partial: 'shared/header_nav_bar', locals: { current: nil } %>
  <%- end -%>
  <div class="modal-alternative">
<% else %>
  <%= image_tag 'icons/icon-close-black.png', class: 'modal-close', data: { dismiss: 'modal' } %>
<% end %>

    <h2 class="modal-title">Inscription</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { remote: request.xhr? }, html: { class: 'main-form main-form-modal' }) do |f| %>

      <div class="field">
        <%= f.input :firstname, label: false, placeholder: 'Prénom' %>
      </div>

      <div class="field">
        <%= f.input :lastname, label: false, placeholder: 'Nom' %>
      </div>

      <div class="field">
        <%= f.input :email, label: false, placeholder: 'Adresse e-mail' %>
      </div>

      <div class="field">
        <%= f.input :password, label: false, autocomplete: "off", placeholder: 'Mot de passe' %>
      </div>

      <div class="field">
        <%= f.input :password_confirmation, label: false, autocomplete: "off", placeholder: 'Confirmation du mot de passe' %>
      </div>

      <div class="field">
        <%= f.input :terms, label: "<span class=\"checkbox-label\">J'accepte les #{ link_to("conditions générales", "#") }</span>".html_safe, as: :boolean %>
      </div>

      <div class="actions">
        <%= f.submit "Inscription" %>
      </div>
    <% end %>

    <div class="modal-footer">
      <p>
        Vous n'avez pas de compte ?
        <%= link_to "Connectez-vous", new_session_path(resource_name) %>
      </p>
    </div>

<% unless request.xhr? %>
  </div>
<% end %>
