<div class="tower-list-full__filters list-filters">
  <%= search_form_for q, url: path, method: :get do |f| %>
    <div class="list-filters__left">
      <%= f.input :title_or_short_excerpt_or_guard_fullname_cont, as: :hidden %>
      <%= f.select :grade_eq, Tower::GRADES.map { |g| [t("towers.grade.#{g}"), g] }, { include_blank: 'Niveau' }, {onchange: 'this.form.submit();'} %>
      <%= f.select :frequency_eq, Tower::FREQUENCIES.map { |f| [t("towers.frequency.#{f}"), f] }, { include_blank: 'Fréquence' }, {onchange: 'this.form.submit();'} %>
      <div class="ransack-number">
        <%= f.number_field :price_per_month_gteq, min: 0, placeholder: 'Prix minimum' %>
      </div>
      <div class="ransack-number">
        <%= f.number_field :price_per_month_lteq, min: 0, placeholder: 'Prix maximum' %>
      </div>
    </div>
    <!-- <div class="list-filters__right">
      <p>Trier par :</p>
      <select name="" id="">
        <option value="">Popularité</option>
        <option value="">Date de publication</option>
        <option value="">Prix croissant</option>
      </select>
      <%#= f.select :sorts, Tower::SORTS.map { |s| [t("towers.sort.#{s}"), s] }, { include_blank: false }, {onchange: 'this.form.submit();'} %>
      <%#= f.sort_fields do |s| %>
        <%#= s.sort_select associations: [:popularity, :created_date, :price_per_month] %>
      <%# end %>
    </div> -->
  <% end %>
</div>
