<%- content_for :header_nav_bar do -%>
  <%= render partial: 'shared/header_nav_bar', locals: { current: :towers } %>
<%- end -%>

<%- content_for :header_sub_nav_bar do -%>
  <%= render partial: 'shared/header_sub_nav_bar', locals: { current_sub: :towers_theme, category: params[:id] } %>
<%- end -%>

<div class="tower-container">

  <div class="tower-list-full">

    <div class="tower-list-full__header">
      <div class="tower-list-full__header--left">
        <h2 class="list-title">Toutes les offres de <%= @category.name %></h2>
      </div>
      <div class="tower-list-full__header--right">

      </div>
    </div>

    <%= render partial: 'towers/filters', locals: { path: category_towers_path, q: @q } %>

    <div class="tower-list-full__cards infinite-scroll-list">
      <% if @towers.count > 0 %>
        <%- @towers.each do |tower| -%>
          <%= render partial: 'towers/tower_card', locals: { tower: tower } %>
          <% unless @towers.last_page? %>
            <%= link_to_next_page @towers, 'Next Page', class: 'infinite-scroll infinite-scroll-link' %>
          <% end %>
        <%- end -%>
      <% else %>
        <p class="no-results">Aucun résultat</p>
      <% end %>
    </div>
  </div>

</div>
