<%- content_for :header_nav_bar do -%>
  <%= render partial: 'shared/header_nav_bar', locals: { current: :towers } %>
<%- end -%>

<%- content_for :header_sub_nav_bar do -%>
  <%= render partial: 'shared/header_sub_nav_bar', locals: { current_sub: :towers_theme, category: @tower.category.slug } %>
<%- end -%>

<div class="tower-show__header">
  <div class="tower-show__header--content">
    <h2 class="title"><%= @tower.title %></h2>
    <p class="description"><%= @tower.short_excerpt %></p>
    <div class="rating">
      <div class="rating-stars" data-rating="<%= @tower.average_notation %>"></div>
      <p><%= @tower.comments.count %> avis</p>
      <p class="followers"><%= @tower.users.count %> abonnés</p>
    </div>
    <p class="details"><%= t('by')+" "+@tower.guard.fullname %> &nbsp; | &nbsp; <%= @tower.tower_guard.short_excerpt %></p>
  </div>
</div>

<div class="tower-show__content">
  <div class="tower-show__content--container">
    <div class="tower-show__content--main tabs-wrapper">
      <ul class="nav-tabs">
        <li class="tab-link active" data-tab="tab-1"><span>Présentation</span></li>
        <li class="tab-link" data-tab="tab-2"><span>Auteur et contributions</span></li>
        <li class="tab-link" data-tab="tab-3"><span>Commentaires</span></li>
      </ul>

      <div class="tab-content">
        <div id="tab-1" class="tab-pane tab-pane__product active">
          <%= render partial: 'towers/tabs/product', locals: { tower: @tower } %>
        </div>

        <div id="tab-2" class="tab-pane tab-pane__author">
          <%= render partial: 'towers/tabs/author', locals: { tower: @tower, report: @report } %>
        </div>

        <div id="tab-3" class="tab-pane tab-pane__comment">
          <%= render partial: 'towers/tabs/comment', locals: { comments: @comments } %>
        </div>
      </div>
    </div>

    <div class="tower-show__content--side">

      <div class="side-body">
        <div class="side-header">
          <p class="price"><%= humanized_money_with_symbol @tower.price_per_month %></p>
          <p class="month">par mois</p>
        </div>
        <div class="side-info">
          <p>Cela comprend :</p>
          <ul>
            <li class="time"><div class="info-icon"></div> <%= @tower.average_time_to_read %> minutes de lecture</li>
            <li class="level"><div class="info-icon"></div> <%= t("towers.grade.#{@tower.grade}") %></li>
            <li class="frequency"><div class="info-icon"></div> <%= t("towers.frequency.#{@tower.frequency}") %></li>
          </ul>
          <% if current_user&.is_subscriber?(@tower) %>
            <p class="already-sub">Déjà abonné</p>
          <% else %>
            <%= simple_form_for @subscription, url: subscription_path, class: 'form-sub' do |f| %>
              <%= f.input :tower_id, as: :hidden %>
              <%= f.input :owner_id, as: :hidden %>
              <%= f.input :state, as: :hidden %>
              <%= f.button :submit, "Je m'abonne", class: 'sub-link' %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="side-rating">
        <div class="rating-stars" data-rating="<%= @tower.average_notation || 0 %>"></div>
        <p><%= @tower.good_notation_percent %>% d'avis positifs</p>
      </div>

    </div>
  </div>

</div>

<div class="tower-show__others">
  <div class="tower-list">
    <h2 class="tower-list__title">Recommandés pour vous</h2>

    <div class="tower-list__slider">
      <% @similars.each do |tower| %>
        <%= render partial: 'towers/tower_card', locals: {tower: tower} %>
      <% end %>
    </div>

    <div class="customSliderLink-recommended tower-list__slider-arrow arrow-prev" data-target="prev"></div>
    <div class="customSliderLink-recommended tower-list__slider-arrow arrow-next" data-target="next"></div>
  </div>
</div>

<div class="tower-show__preview tower-preview">
  <div class="tower-preview__container">

    <%= image_tag 'icons/icon-close-black.png', class: 'preview-close' %>

    <div class="tower-preview__content">
      <%= render partial: 'reports/components/header', locals: { report: @report } %>

      <div class="report-container__content">
        <h2 class="title"><%= @report.title %></h2>
        <div class="text">
          <%== strip_tags(@report.content).truncate(255) %>
        </div>
        <div class="tower-preview__hide-text"></div>
      </div>

    </div>

    <div class="tower-preview__footer">
      <div class="tower-preview__footer-content">
        <div class="tower-preview__footer-bg"></div>
        <p>
          Ne manquez plus jamais une nouveauté <b>marketing</b> de la part de <b><%= @tower.guard.fullname %></b>.
        </p>
        <%= simple_form_for @subscription, url: subscription_path, class: 'form-sub' do |f| %>
          <%= f.input :tower_id, as: :hidden %>
          <%= f.input :owner_id, as: :hidden %>
          <%= f.input :state, as: :hidden %>
          <%= f.button :submit, "Je m'abonne", class: 'sub-link' %>
        <% end %>
      </div>
    </div>

  </div>
</div>
