<% unless request.xhr? %>
  <%- content_for :header_nav_bar do -%>
    <%= render partial: 'shared/header_nav_bar', locals: { current: nil } %>
  <%- end -%>
  <div class="modal-alternative">
<% else %>
  <%= image_tag 'icons/icon-close-black.png', class: 'modal-close', data: { dismiss: 'modal' } %>
<% end %>

  <h2 class="modal-title">Mot de passe oublié ?</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), data: { remote: request.xhr? }, html: { method: :post, class: 'main-form main-form-modal' }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.email_field :email, autofocus: true, placeholder: 'Adresse e-mail' %>
    </div>

    <div class="actions">
      <%= f.submit "Envoyer les instructions" %>
    </div>
  <% end %>

<% unless request.xhr? %>
  </div>
<% end %>
