<%- content_for :header_nav_bar do -%>
  <%= render partial: 'shared/header_nav_bar', locals: { current: nil } %>
<%- end -%>

<div class="home-header">

  <%= image_tag 'bg/bg-home-header-left.png', class: 'template-bg-left' %>
  <%= image_tag 'bg/bg-home-header-right.png', class: 'template-bg-right' %>
  <%= image_tag 'img/macbook-example.png', class: 'template-bg' %>

  <div class="home-header__container">
    <div class="home-header__container--content">
      <p>La première marketplace qui permet de recevoir une veille régulière et réalisée par des experts.</p>
      <%= simple_form_for :q, url: search_towers_path, method: :post, html: {class: 'main-form'} do |f| %>
        <div class="field">
          <%= f.input :title_or_short_excerpt_or_guard_fullname_cont, label: false, input_html: { placeholder: 'Quel sujet vous intéresse ?' } %>
        </div>
        <div class="actions">
          <%= f.button :submit, value: 'Rechercher' %>
        </div>
      <% end %>
    </div>
  </div>

</div>

<div class="home-discover">

  <%= image_tag 'bg/bg-home-discover.png', class: 'discover-bg' %>

  <div class="home-discover__container">

    <div class="home-discover__categories tower-list">
      <h2 class="tower-list__title">Explorez nos catégories</h2>
      <ul>
        <% Theme.all.each do |t| %>
          <li>
            <%= link_to theme_towers_path(t) do %>
              <div class="category-bg" style="background-image:url(<%= image_path("bg/bg-theme-#{t.slug}.jpg") %>);"></div>
              <p class="category-title"><%= t.name %></p>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="home-discover__experts tower-list">
      <h2 class="tower-list__title">Les experts du moment</h2>

      <div class="tower-list__slider">
        <%- @popular_towers.each do |tower| -%>
          <%= render partial: 'towers/tower_card', locals: { tower: tower } %>
        <%- end -%>
      </div>

      <div class="customSliderLink-popular tower-list__slider-arrow arrow-prev" data-target="prev"></div>
      <div class="customSliderLink-popular tower-list__slider-arrow arrow-next" data-target="next"></div>
    </div>

  </div>

</div>

<div class="home-info">

  <%= image_tag 'bg/bg-home-info.png', class: 'info-bg' %>

  <div class="home-info__container">
    <div class="home-info__main">
      <p class="title">Faire de la veille n’a jamais été aussi simple et rapide !</p>
      <p class="description">
        Avec <b>Nuntio</b>, ce sont nos experts qui vous envoient un résumé des informations majeures à retenir dans votre domaine.
      </p>
    </div>
    <ul class="home-info__list">
      <li>
        <%= image_tag 'icons/icon-settings-purple.png', class: 'icon-list' %>
        <p class="title">Parcourez et sélectionnez vos experts</p>
        <p class="description">
          Vous avez un large choix parmi plusieurs thèmes et pouvez affiner votre choix en fonction des fréquences d’envoi et de votre niveau.
        </p>
      </li>
      <li>
        <%= image_tag 'icons/icon-mail-purple.png', class: 'icon-list' %>
        <p class="title">Du contenu exclusif pour une veille de qualité</p>
        <p class="description">
          Une fois abonné, vous recevez la veille de votre expert : un contenu exclusif et rédigé qui vous permet de ne rien rater dans votre domaine.
        </p>
      </li>
    </ul>
  </div>
</div>

<div class="home-registration">
  <div class="home-registration__container">
    <div class="home-registration__container--content">
      <p>Le temps n’est plus un problème pour effectuer une veille régulière et complète.</p>
      <%= link_to "S'inscrire", new_user_registration_path, data: { modal: :load, remote: true } %>
    </div>
  </div>
</div>
