<%- content_for :header_nav_bar do -%>
  <%= render partial: 'shared/header_nav_bar', locals: { current: :settings } %>
<%- end -%>

<div class="modal-alternative">

  <h2 class="modal-title">Mes informations</h2>


  <%= simple_form_for current_user, url: settings_general_path, html: { class: 'main-form main-form-modal' } do |f| %>

    <div class="field">
      <%= f.input :firstname, autofocus: true, placeholder: 'Prénom', label: false %>
    </div>

    <div class="field">
      <%= f.input :lastname, autofocus: true, placeholder: 'Nom', label: false %>
    </div>

    <div class="field">
      <%= f.input :email, autofocus: true, placeholder: 'Adresse e-mail', label: false %>
    </div>

    <% if flash[:infos_notice].present? %>
      <p class="flash-notice"><%= flash[:infos_notice] %></p>
    <% end %>

    <div class="actions">
      <%= f.submit "Mettre à jour" %>
    </div>

  <% end %>

  <%= simple_form_for current_user, url: settings_password_path, html: { class: 'main-form main-form-modal' } do |f| %>

    <div class="field">
      <%= f.input :password, autocomplete: "off", placeholder: 'Nouveau mot de passe', label: false %>
    </div>

    <div class="field">
      <%= f.input :password_confirmation, autocomplete: "off", placeholder: 'Confirmation du nouveau mot de passe', label: false %>
    </div>

    <% if flash[:password_notice].present? %>
      <p class="flash-notice"><%= flash[:password_notice] %></p>
    <% end %>

    <div class="actions">
      <%= f.submit "Mettre à jour" %>
    </div>

  <% end %>

  <div class="modal-footer">
    <p>
      <%= link_to 'Déconnexion', destroy_user_session_path, data: { method: :delete } %>
    </p>
  </div>

</div>
