<div class="author-header">
  <div class="author-header__profile" style="background-image:url();"></div>
  <div class="author-header__right">
    <p class="name"><%= tower.guard.fullname %> <span class="tower-card__tag">Meilleur expert</span></p>
    <p class="role"><%= tower.tower_guard.short_excerpt %></p>
    <ul class="social">
      <li class="twitter"><a href="#"><%= image_tag('icons/icon-social-twitter.png') %></a></li>
      <li class="google"><a href="#"><%= image_tag('icons/icon-social-google.png') %></a></li>
      <li class="linkedin"><a href="#"><%= image_tag('icons/icon-social-linkedin.png') %></a></li>
      <li class="unknown"><a href="#"><%= image_tag('icons/icon-social-unknown.png') %></a></li>
    </ul>
  </div>
</div>

<p class="author-description">
  <%== tower.tower_guard.description %>
</p>

<hr class="separator">

<div class="author-reports">
  <p class="num-reports"><%= tower.reports.count %> publications rédigées</p>
  <div class="last-report">
    <p class="title"><%= report.title %></p>
    <p class="time">Il y a <%= time_ago_in_words report.created_at.to_date %></p>
    <p class="description">
      <%== report.content.truncate(255) %>
      <span class="preview-open">Voir un aperçu</span>
    </p>
  </div>
</div>
