<div class="comments-container">
  <p class="comments-container__count"><%= comments.count %> commentaires d'abonnés</p>

  <div class="comments-container__list">
    <ul>
      <% comments.each do |comment| %>
        <li>
          <div class="comments-container__list--header">
            <div class="profile" style="background-image:url(<%= image_path comment.user.image.url(:thumb) %>);"></div>
            <p class="name"><%= comment.user.fullname %></p>
            <p class="date">Il y a <%= time_ago_in_words(comment.created_at.to_date)%></p>
          </div>
          <p class="comments-container__list--text">
            <%== comment.content %>
          </p>
        </li>
      <% end %>
    </ul>
    <!-- <a href="#" class="more">Charger plus de commentaires</a> -->
  </div>
</div>
