<% if defined?(report); new ||= true %>
  <div class="report-card <%= 'new-card' if new %> ">
    <% cache(report) do %>
      <div class="icon-new"></div>
      <a href="<%= report_tower_path(report.tower, report) %>">
        <div class="report-card__left" style="background-image:url();"></div>
          <div class="report-card__right">
            <p class="title"><%= report.title %></p>
            <p class="details"><span class="author"><%= report.guard.fullname %></span> &nbsp; | &nbsp; <%= report.tower.theme.name %> • <%= report.tower.category.name %></p>
            <p class="time"><%= report.average_time_to_read %> minutes à lire</p>
            <p class="description">
              <%= report.excerpt&.truncate(255, separator: ' ') %>
              <span class="more">Lire la suite</span>
            <div class="bottom">
              <p class="date">Il y a <%= time_ago_in_words(report.created_at)%></p>
              <div class="rating">
                <div class="rating-stars" data-rating="<%= report.average_notation %>"></div>
                <p><%= report.comments.where.not(notation: nil).count %> avis</p>
              </div>
            </div>
          </div>
        </div>
      </a>
    <% end %>
  </div>
<% end %>
