<%- content_for :header_nav_bar do -%>
  <%= render partial: 'shared/header_nav_bar', locals: { current: :reports } %>
<%- end -%>

<div class="header-alternative header-behind is-hidden">
  <div class="header-alternative__container">
    <%= link_to user_signed_in? ? towers_path : root_path, class: 'logo' do %>
      <%= image_tag 'img/logo-nuntio-black.png' %>
    <% end %>
    <hr class="global-hr">
    <div class="title">
      <h2><%= @report.title %></h2>
    </div>
  </div>
</div>

<div class="report-container">

  <%= link_to dashboard_path, class: 'report-container__back' do %>
    <%= image_tag 'icons/icon-arrow-left.png' %>
    <span>Retour au tableau de bord</span>
  <% end %>

  <%= render partial: 'reports/components/header', locals: { report: @report } %>

  <div class="report-container__content">
    <h2 class="title"><%= @report.title %></h2>
    <%= image_tag @report.image, class: 'main-image' if @report.image.exists? %>
    <div class="text">
      <%== @report.content %>
    </div>
    <div class="rating">
      <p>Vous avez aimé ? Vous aussi donnez votre avis !</p>
      <%= simple_form_for @rating, url: rate_tower_report_path(@report.tower, @report), method: :put, html: { class: 'rating-form' } do |f| %>
        <%= f.hidden_field :notation, class: 'form-control notation' %>
        <div class="rating-stars"></div>
      <% end %>
      <p class="rating-number"><%= @report.comments.where.not(notation: nil).count %> avis</p>
    </div>

    <div class="comments-container">
      <p class="comments-container__count"><%= @report.comments.where.not(content: nil).count %> commentaires</p>

      <div class="comments-container__form">
        <%= simple_form_for @comment, url: comment_tower_report_path(@report.tower, @report), method: :put do |f| %>
          <%= f.input :content, label: false, placeholder: 'Ecrire un commentaire' %>
          <%= f.submit 'Commenter' %>
        <% end %>
      </div>

      <%= render partial: 'reports/comments', locals: { comments: @report.comments.where.not(content: nil) }%>
    </div>
  </div>

</div>
