<% unless request.xhr? %>
  <%- content_for :header_nav_bar do -%>
    <%= render partial: 'shared/header_nav_bar', locals: { current: nil } %>
  <%- end -%>
  <div class="modal-alternative">
<% else %>
  <%= image_tag 'icons/icon-close-black.png', class: 'modal-close', data: { dismiss: 'modal' } %>
<% end %>

<h2 class="modal-title has-description">Devenir expert</h2>

<p class="modal-description">Rejoignez notre plateforme et faites profiter la communauté de votre expertise</p>

<%= form_for(@tower_guard, url: apply_tower_guards_path, method: :post, data: { remote: true }, html: { class: 'main-form main-form-modal' }) do |f| %>

  <%= f.fields_for :guard do |u| %>
    <div class="field">
      <%= u.text_field :firstname, label: false, placeholder: 'Prénom' %>
    </div>

    <div class="field">
      <%= u.text_field :lastname, label: false, placeholder: 'Nom' %>
    </div>

    <div class="field">
      <%= u.email_field :name, label: false, placeholder: 'Adresse e-mail' %>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :linkedin, label: false, placeholder: 'Lien LinkedIn' %>
  </div>

  <div class="field">
    <%= f.select :apply_theme, Theme.all.map { |t| [t.name, t] }, { include_blank: 'Dans quel domaine ?' } %>
  </div>

  <div class="actions">
    <%= f.submit "Soumettre" %>
  </div>
<% end %>

<% unless request.xhr? %>
  </div>
<% end %>
