<!DOCTYPE html>
<html>
  <head>
    <%= render partial: 'shared/head' %>
    <%= render partial: 'shared/routing' %>
  </head>

  <body id="<%= "#{controller_name}_#{action_name}"%>">
    <div class="wrapper">
      <%= render partial: 'shared/header' %>

      <div class="container">
        <%= yield %>
      </div>

      <%= render partial: 'shared/footer' %>
    </div>

    <div id="modal-receiver"></div>
  </body>
</html>
